body{
    text-align: center;
}
#sortable { 
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
    padding-top: 20px;
}
#sortable li { 
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    text-align: center;
    font-size: 1.4em;
    height: 18px; 
    background-color:lime;
    border: solid;
}
#sortable li span { 
    position: absolute;
}
input {
  border: solid;
  width: 50%;
  padding: 10px;
  font-size: 16px;
}
ul li:hover {
  background: #ddd;
}
ul li:nth-child(odd) {
  background: #f9f9f9;
}
ul li {
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
}
ul {
  margin: 0;
  padding: 0;
}
#addButton{
  padding: 10px;
  font-size: 16px;
  float: right;
}
button{
   border: solid; 
    width: 10%;
}