body{
    text-align: center;
    background-color: lightgrey;
}
#sortable { 
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
    padding-top: 20px;
}
#sortable li { 
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    text-align: center;
    font-size: 1.4em;
    height: 18px; 
    border: solid;
    vertical-align: middle;
}
#sortable li span { 
    position: absolute;
}
input {
  border: solid;
  width: 50%;
  padding: 10px;
  font-size: 16px;
}
button:hover {
  background: #F6B635;
}
input:hover{
    background-color: mintcream;
}
ul li {
  padding: 12px 8px 12px 40px;
  list-style-type: none;
  background: #eee;
  font-size: 18px;
}
ul {
  margin: 0;
  padding: 0;
}
#addButton{
  padding: 10px;
  font-size: 16px;
}
button{
   border: solid; 
    width: 10%;
    background-color: #F9C04D;
}
.container{
    border: solid;
    padding: 20px;
    margin: 20px; 40px;
    background-color: #FFE1A2;
}