body{
    text-align: center;
}
#sortable { 
    display: inline-block;
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 30%;
    padding-top: 20px;
}
#sortable li { 
    margin: 0 3px 3px 3px;
    padding: 0.4em;
    padding-left: 20px;
    text-align: center;
    font-size: 1.4em;
    height: 18px; 
    background-color:lime;
    border: solid;
}
#sortable li span { 
    position: absolute;
    margin-left: -1.3em; 
}